.location-main{
    max-width: 1300px;
    margin: auto;
}
.loc-head{
    width: 450px;
    padding-bottom: 30px;
}
.loc-head h1{
    font-size: 33px;
    font-weight: 700;
    line-height: 35px;
}
.loc-head p{
    font-weight: 500;
    line-height: 40px;
    font-size: 14px;
}
.map-loc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid rgba(225, 221, 221, 0.415);
}
.location-details{
    display: flex;
    align-items: center;
    gap: 40px;
}
.map-loc button{
    padding: 12px 23px;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid rgba(200, 196, 196, 0.519);
    cursor: pointer;
    color: #000;
    transition: 0.3s;
    outline: none;
}
.map-loc button:hover{
    background-color: rgb(239, 45, 106);
    color: #fff;
    transition: 0.3s;
    outline: none;
}
.location-container{
    padding: 100px;
}
.detail-of-location p a{
    text-decoration: none;
    color: gray;
}
.detail-of-location p a:hover{
    color: rgb(239, 45, 106);
}