.signup-main{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
}
.signup-main-container{
    width: 50%;
    box-shadow: 3px 3px 30px 5px #888888;
    padding-bottom: 50px;
}
.signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}
.signup-container h1{
    line-height: 60px;
    font-size: 2.5vw;
}
.signup-container p{
    font-size: 1.2vw;
}

.sign-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
}
.sign-form input{
    width: 30vw;
    padding: 20px;
    font-size: 15px;
    text-indent: 20px;
    outline-color: red;
}
.sign-form .inp-icon-1, .mail-icon{
    position: absolute;
    left: 10px;
    top: 20px;
    color: #525258;
    font-size: 18px;
}
.sign-form button{
    padding: 18px 0;
    font-size: 20px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    width: 81%;
    font-weight: 600;
}
.sign-form a{
    text-decoration: none;
    color: red;
}
.password-options a{
    text-decoration: none;
    color: #525258;
    transition: 0.3s;
}
.password-options a:hover{
    color: red;
    transition: 0.3s;
}

.password-options{
    display: flex;
    width: 81%;
    justify-content: space-between;
}
.password-options p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

